<a href="https://colab.research.google.com/github/RYOTA2528/data_analysis_practice/blob/main/%5BDAY8%5DMatplotlib_learn_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# 洗練されたグラフの作成
# ggplotスタイルを使用
plt.style.use('ggplot')

# 図のサイズを設定 (幅10インチ、高さ8インチ)
plt.rcParams['figure.figsize'] = [10, 8]
# fontサイズを使用
plt.rcParams['font.size'] = 14

In [3]:
file_path = '/content/drive/MyDrive/pandas-dataset/dataset/dataset/house_price_jp.csv'
df = pd.read_csv(file_path, sep=',')
df.head()

,index,type,land_type,prefecture,city,city2,station_name,building_year,station_dis,price,price_per_tsubo,room,area,land_shape,frontage,gross_floor_area,building_type,city_plan,BCR,FAR
0,1,中古マンション等,NaN,北海道,札幌市中央区,大通西,西１１丁目,2016,1,37000000,NaN,３ＬＤＫ,75,NaN,NaN,NaN,ＲＣ,商業地域,80.0,600.0
1,2,中古マンション等,NaN,北海道,札幌市中央区,大通西,西１１丁目,2012,3,57000000,NaN,２ＬＤＫ,75,NaN,NaN,NaN,ＲＣ,商業地域,80.0,600.0
2,3,中古マンション等,NaN,北海道,札幌市中央区,大通西,西１８丁目,1981,3,17000000,NaN,２ＬＤＫ,50,NaN,NaN,NaN,ＲＣ,商業地域,80.0,400.0
3,4,中古マンション等,NaN,北海道,札幌市中央区,大通西,西１８丁目,1977,0,3200000,NaN,１Ｒ,20,NaN,NaN,NaN,ＳＲＣ,商業地域,80.0,400.0
4,5,中古マンション等,NaN,北海道,札幌市中央区,大通西,西１８丁目,1989,2,17000000,NaN,２ＬＤＫ,50,NaN,NaN,NaN,ＳＲＣ,商業地域,80.0,400.0

In [5]:
df['Log10_price'] = df['price'].apply(lambda x: np.log10(x)) #対数
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19904 entries, 0 to 19903
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             19904 non-null  int64
 1   type              19904 non-null  object
 2   land_type         12261 non-null  object
 3   prefecture        19904 non-null  object
 4   city              19904 non-null  object
 5   city2             19903 non-null  object
 6   station_name      19769 non-null  object
 7   building_year     19904 non-null  int64
 8   station_dis       19766 non-null  object
 9   price             19904 non-null  int64
 10  price_per_tsubo   0 non-null      float64
 11  room              7209 non-null   object
 12  area              19904 non-null  object
 13  land_shape        12260 non-null  object
 14  frontage          11282 non-null  float64
 15  gross_floor_area  12113 non-null  object
 16  building_type     19242 non-null  object
 17  city_plan         19817 non-null  object
 18  BCR               19305 non-null  float64
 19  FAR               19305 non-null  float64
 20  Log10_price       19904 non-null  float64
dtypes: float64(5), int64(3), object(13)
memory usage: 3.2+ MB

In [7]:
df['station_dis'].unique()

array(['1', '3', '0', '2', '5', '4', '6', '11', '10', '30分?60分', '7',
       '12', '14', '18', '19', '25', '28', '26', '9', '29', '13', '20',
       '8', '16', '21', '24', '1H?1H30', '15', '22', '17', '1H30?2H',
       '23', nan, '2H?', '27', '8.0', '1.0', '14.0', '7.0', '6.0', '10.0',
       '9.0', '5.0', '3.0', '15.0'], dtype=object)

In [10]:
# 全体を数字にしたいため、NaNに一部変更し最後dropする
df['station_dis'] = pd.to_numeric(df['station_dis'], errors='coerce')
df['station_dis'].unique()

array([  75.,   50.,   20.,   35.,  400.,  500.,   55.,   65.,   70.,
        250.,   30.,   45.,   60.,   80.,  280.,  175.,  460.,  100.,
         95.,  230.,   90.,   85.,  180.,  155.,  195.,   15.,  200.,
        105.,  320.,  270.,  370.,  110.,  240.,  220.,  210.,  380.,
        410.,  420.,   40.,  300.,   25.,  390.,  170.,  190.,   nan,
        160.,  150.,  130.,  115.,  125.,  185.,  260.,  350.,  310.,
        360.,  120.,  140.,  135.,  165.,  490.,  670.,  520.,  290.,
        145., 1100.,  330.,  620.,  550.,  680.,  430.,  810.,  470.,
        910., 1300.,  980.,  710.,  590.,  340., 1200.,  510.,  650.,
       1000.,  560., 1700., 1400., 1600.,  750.,  660., 1500.,  580.,
        640.,  450.,  760.,  530.,  720.,  830.,  440., 1800.,  480.,
        930.,  950.,  600.,  730.,  800.,  740.,  610.,  630.,  940.,
        990.,  880.,  890.,  920.,  780.,  790.,  970.,  870.,  770.,
        960.,  700.,  690.,  850.,  860.,  540., 1900.,  570.,  820.,
        840.,   10.,  900.])

In [11]:
df['area'] = pd.to_numeric(df['area'], errors='coerce')
df['area'].unique()

array([  75.,   50.,   20.,   35.,  400.,  500.,   55.,   65.,   70.,
        250.,   30.,   45.,   60.,   80.,  280.,  175.,  460.,  100.,
         95.,  230.,   90.,   85.,  180.,  155.,  195.,   15.,  200.,
        105.,  320.,  270.,  370.,  110.,  240.,  220.,  210.,  380.,
        410.,  420.,   40.,  300.,   25.,  390.,  170.,  190.,   nan,
        160.,  150.,  130.,  115.,  125.,  185.,  260.,  350.,  310.,
        360.,  120.,  140.,  135.,  165.,  490.,  670.,  520.,  290.,
        145., 1100.,  330.,  620.,  550.,  680.,  430.,  810.,  470.,
        910., 1300.,  980.,  710.,  590.,  340., 1200.,  510.,  650.,
       1000.,  560., 1700., 1400., 1600.,  750.,  660., 1500.,  580.,
        640.,  450.,  760.,  530.,  720.,  830.,  440., 1800.,  480.,
        930.,  950.,  600.,  730.,  800.,  740.,  610.,  630.,  940.,
        990.,  880.,  890.,  920.,  780.,  790.,  970.,  870.,  770.,
        960.,  700.,  690.,  850.,  860.,  540., 1900.,  570.,  820.,
        840.,   10.,  900.])

In [12]:
# df.dropnaとsubsetを用いて先ほどのnanを削除
df = df.dropna(subset=['station_dis', 'area'])

In [13]:
df.info() #float64に変わった！

<class 'pandas.core.frame.DataFrame'>
Index: 19747 entries, 0 to 19903
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             19747 non-null  int64
 1   type              19747 non-null  object
 2   land_type         12104 non-null  object
 3   prefecture        19747 non-null  object
 4   city              19747 non-null  object
 5   city2             19746 non-null  object
 6   station_name      19616 non-null  object
 7   building_year     19747 non-null  int64
 8   station_dis       19747 non-null  float64
 9   price             19747 non-null  int64
 10  price_per_tsubo   0 non-null      float64
 11  room              7209 non-null   object
 12  area              19747 non-null  float64
 13  land_shape        12103 non-null  object
 14  frontage          11217 non-null  float64
 15  gross_floor_area  11960 non-null  object
 16  building_type     19097 non-null  object
 17  city_plan         19660 non-null  object
 18  BCR               19161 non-null  float64
 19  FAR               19161 non-null  float64
 20  Log10_price       19747 non-null  float64
dtypes: float64(7), int64(3), object(11)
memory usage: 3.3+ MB