## dataFrameの再学習

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

In [6]:
# gapminderでの学ぶ
df = px.data.gapminder()

In [8]:
# データ型
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
iso_alpha     object
iso_num        int64
dtype: object

In [10]:
# データの詳細を把握
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
 6   iso_alpha  1704 non-null   object
 7   iso_num    1704 non-null   int64
dtypes: float64(2), int64(3), object(3)
memory usage: 106.6+ KB

In [30]:
df['year'].astype(str)
df['year'] = df['year'].astype(str)

In [22]:
df.info() #object型の変更できた

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   object
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
 6   iso_alpha  1704 non-null   object
 7   iso_num    1704 non-null   int64
dtypes: float64(2), int64(2), object(4)
memory usage: 106.6+ KB

In [26]:
df['year'] = df['year'].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   float64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
 6   iso_alpha  1704 non-null   object
 7   iso_num    1704 non-null   int64
dtypes: float64(3), int64(2), object(3)
memory usage: 106.6+ KB

In [32]:
df.loc[1704, 'year'] = 'abc'

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1705 entries, 0 to 1704
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1705 non-null   object
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   float64
 5   gdpPercap  1704 non-null   float64
 6   iso_alpha  1704 non-null   object
 7   iso_num    1704 non-null   float64
dtypes: float64(4), object(4)
memory usage: 106.7+ KB

In [36]:
# 上記でobject型にした状態かつyear列の1704行目にabcを入れた状態で以下をやるとエラー
df['year'] = df['year'].astype(float)

ValueError: could not convert string to float: 'abc'

In [40]:
# to_numericで解釈できなものはnonに変換
df['year'] = pd.to_numeric(df['year'], errors = 'coerce')

In [42]:
df.dtypes #dytypesで変換できたことを確認

country       object
continent     object
year         float64
lifeExp      float64
pop          float64
gdpPercap    float64
iso_alpha     object
iso_num      float64
dtype: object

In [46]:
# object型だけを持ってるデータを抽出
df.select_dtypes(include = 'object')
df.select_dtypes(include = 'object').columns

Index(['country', 'continent', 'iso_alpha'], dtype='object')

In [48]:
# データの定義確認
df.describe()

             year      lifeExp           pop      gdpPercap      iso_num
count  1704.00000  1704.000000  1.704000e+03    1704.000000  1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081   425.880282
std      17.26533    12.917107  1.061579e+08    9857.454543   248.305709
min    1952.00000    23.599000  6.001100e+04     241.165876     4.000000
25%    1965.75000    48.198000  2.793664e+06    1202.060309   208.000000
50%    1979.50000    60.712500  7.023596e+06    3531.846989   410.000000
75%    1993.25000    70.845500  1.958522e+07    9325.462346   638.000000
max    2007.00000    82.603000  1.318683e+09  113523.132900   894.000000