In [1]:
#Dataフレームは２次元(スプレッドシート)のようなもの
import pandas as pd
import numpy as np

In [3]:
df1 = pd.DataFrame(np.arange(9).reshape(3,3))

In [5]:
df1 #行方向がインデックス、縦方向がカラム値

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

In [11]:
#インデックスとカラムを変更してみる
df2 = pd.DataFrame(np.arange(9).reshape(3,3), index=["a","b","c"],columns=["A","B","C"])

In [13]:
df2

   A  B  C
a  0  1  2
b  3  4  5
c  6  7  8

In [15]:
df2["A"] #これでAの箇所の値が返ってくる

a    0
b    3
c    6
Name: A, dtype: int32

In [33]:
# データフレームを作成
# 空のデータフレームを作成
df3 = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

df3.iloc[0, 1] = 10  # 0行目、1列目（'B'列）の値を変更

# データフレームを表示
print(df3)

   A   B
0  1  10
1  2   5
2  3   6